# ===================================
# General & App
# ===================================
BOT_TOKEN=
DEBUG_FLAG=

# ===================================
# Postgres
# ===================================
POSTGRES_VERSION=
POSTGRES_CONTAINER=
POSTGRES_HOST_PORT=

PDB_HOST=
PDB_PORT=
PDB_USER=
PDB_PASSWORD=
PDB_DB_NAME=
PDB_SSL_MODE=

# ===================================
# Redis
# ===================================
REDIS_VERSION=
REDIS_CONTAINER=
REDIS_HOST_PORT=

RDB_HOST=
RDB_PORT=
RDB_PASSWORD=
RDB_DB_NUMBER=

# ===================================
# PgAdmin
# ===================================
PGADMIN_VERSION=
PGADMIN_CONTAINER=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=


# ===================================
# Logger Configuration
# ===================================
LOGGER_FILE_PATH=
LOGGER_ENCODING=
LOGGER_LEVEL=
LOGGER_NAME=

# ===================================
# Casbin Configuration
# ===================================
CASBIN_MODEL_PATH=